<div class="card">
  <p class="card-title">Country Details</p>
  <div class="card-body">
    <div class="form-container">
      <form [formGroup]="countryForm" class="country-form">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Capital</mat-label>
          <input matInput formControlName="capital" />
          <mat-error
            *ngIf="
              countryForm.get('capital')?.invalid &&
              countryForm.get('capital')?.touched
            "
            >Capital is required</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Region</mat-label>
          <input matInput formControlName="region" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Sub Region</mat-label>
          <input matInput formControlName="subRegion" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Population</mat-label>
          <input matInput formControlName="population" />
          <mat-error
            *ngIf="
              countryForm.get('population')?.invalid &&
              countryForm.get('population')?.touched
            "
          >
            Population is required
          </mat-error>
        </mat-form-field>

        <div class="image-container">
          <img
            [src]="countryForm.get('flags')?.value.png"
            [alt]="countryForm.get('flags')?.value.alt"
            width="100%"
          />
        </div>

        <button
          mat-button
          type="submit"
          class="submit-button"
          (click)="this.editCountry(countryForm.value)"
        >
          Edit
        </button>
      </form>
    </div>
  </div>
</div>
